
/*      COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/*      GLOBAL STYLES
----------------------------------------------------------------*/
/*
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* set root default to 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
}
body {
    background: #f6f6f6;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: 'Luxurious Roman', serif;
}

h1, h2, h3{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-weight: 400;
    text-shadow: 0 0 3px #18004f;
}

h1{
    font-size: 7rem;
    line-height: 0.85;
}
@media screen and (max-width: 590px) {
    h1{
        font-size: 5rem;
        line-height: 0.85;
    }
}


h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.4rem;
}

/*p{*/
/*    font-size: 1.5rem;*/
/*}*/

.content-wrapper{
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
}

/*  Link Styles*/
a{
    color: #ff0000;
}

a:hover {
    color: #04395E;
    text-decoration: none;
}

footer a{
    color: #bcaa96;
}

footer a:hover{
    color: #3c8453;
}

.btn{
    background: #78C3FB;
    color: #010B13;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-resume-page{
    background: #78C3FB;
    color: #010B14;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
}


/*      Projects
----------------------------------------------------------------*/
.service-item {
    margin: 30px 0;
}
.service-item img{
    width: 300px;
}

@media screen and (min-width: 860px){
    .service-item {
        display: flow-root;
    }

    .service-item img{
        float: left;
        margin-right: 20px;
    }
}
@media screen and (min-width: 560px) and (max-width: 859px){
    .services-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .service-item img{
        width: 100%;
    }
}

@media screen and (max-width: 545px){
    .service-item img{
        width: 100%;
        margin-bottom: 10px;
    }
}


/*      fOOTER
----------------------------------------------------------------*/
footer{
    background: #222;
    color: #d3d4d6;

}
.socials{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.socials li{
    display: inline-block;
}

.socials img{
    width: 32px;
}

.socials img:hover{
    opacity: 0.5;
}

@media screen and (min-width: 860px) {
    footer{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width: 859px) {
    footer{
        text-align: center;
        padding: 10px;
    }
}


